a,
a:active,
a:visited {
  color: #000000;
}
header .zalando {
  height: 28px;
  width: 150px;
}
header .banner {
  height: 50px;
}
header .banner.welcome {
  max-height: 250px !important;
}
nav li:before {
  display: none !important;
}
nav li:hover {
  background-color: #ffffff;
}
main {
  clear: both;
}
.teaserImage {
  float: left;
  margin-right: 20px;
  padding-bottom: 10px;
  margin-top: 5px;
  max-width: 200px;
}
.blogPost h1:after {
  text-align: center;
}
