/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * A more considered reset; more of a restart...
 * As per: csswizardry.com/2011/10/reset-restarted
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}
/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help;
}
/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none;
}
/**
 * Apply faux underline via `border-bottom`.
 */
ins {
  border-bottom: 1px solid;
}
/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic;
}
/**
 * Give form elements some cursor interactions...
 */
label,
button,
select,
option {
  cursor: pointer;
}
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}
ul,
ol {
  list-style: none;
}
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: arial, sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
html,
body {
  height: 100%;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
  color: inherit;
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  margin: 0;
  /* 3 */
  outline: none;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: 1em;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.border {
  border: 1px solid #dddddd;
}
.noBorder {
  border: 0;
}
.borderBox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inlineBlock {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.none {
  display: none;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearRight {
  clear: right;
}
.dMargin {
  margin: 20px;
}
.dMarginTop {
  margin-top: 20px;
}
.dMarginRight {
  margin-right: 20px;
}
.dMarginBottom {
  margin-bottom: 20px;
}
.dMarginLeft {
  margin-left: 20px;
}
.dMarginHorizontal {
  margin-right: 20px;
  margin-left: 20px;
}
.dMarginVertical {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin {
  margin: 10px;
}
.marginAuto {
  margin-right: auto;
  margin-left: auto;
}
.marginTop {
  margin-top: 10px;
}
.marginRight {
  margin-right: 10px;
}
.marginBottom {
  margin-bottom: 10px;
}
.marginLeft {
  margin-left: 10px;
}
.marginHorizontal {
  margin-right: 10px;
  margin-left: 10px;
}
.marginVertical {
  margin-top: 10px;
  margin-bottom: 10px;
}
.noMargin {
  margin: 0;
}
.noPadding {
  padding: 0;
}
.padding {
  padding: 10px;
}
.paddingTop {
  padding-top: 10px;
}
.dPaddingTop {
  padding-top: 20px;
}
.paddingRight {
  padding-right: 10px;
}
.dPaddingRight {
  padding-right: 20px;
}
.paddingBottom {
  padding-bottom: 10px;
}
.dPaddingBottom {
  padding-bottom: 20px;
}
.paddingLeft {
  padding-left: 10px;
}
.dPaddingLeft {
  padding-left: 20px;
}
.paddingHorizontal {
  padding-right: 10px;
  padding-left: 10px;
}
.dPaddingHorizontal {
  padding-right: 20px;
  padding-left: 20px;
}
.paddingVertical {
  padding-top: 10px;
  padding-bottom: 10px;
}
.dPaddingVertical {
  padding-top: 20px;
  padding-bottom: 20px;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.static {
  position: static;
}
.targetFix {
  position: fixed;
  top: 0;
  left: 0;
}
.overAuto {
  overflow: auto;
}
.overHidden {
  overflow: hidden;
}
.overScroll {
  overflow: scroll;
}
.overVisible {
  overflow: visible;
}
.bold {
  font-weight: bold;
}
.headline {
  display: block;
}
.listDisc {
  list-style-type: disc;
  margin-left: 20px;
}
.textCenter {
  text-align: center;
}
.textJustify {
  text-align: justify;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.noUnderline {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.content,
main .postbox,
.pages h1,
article,
.pager {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
@media screen and (max-width: 1023px) {
  .content,
  main .postbox,
  .pages h1,
  article,
  .pager {
    max-width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .content,
  main .postbox,
  .pages h1,
  article,
  .pager {
    max-width: 650px;
  }
}
@font-face {
  font-family: 'iconSet';
  src: url('../fonts/iconSet.eot');
}
@font-face {
  font-family: 'iconSet';
  src: url('../fonts/iconSet.eot?#iefix') format('eot'), /*src:*/ url('../fonts/iconSet.woff') format('woff'), /*src:*/ url('../fonts/iconSet.ttf') format('truetype');
}
.icon {
  font-family: 'iconSet';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  speak: none;
  line-height: 1;
  white-space: nowrap;
}
header {
  height: auto;
  width: 100%;
  float: left;
  background-color: #fb9521;
}
header .navBar,
header .banner {
  overflow: hidden;
  text-align: left;
}
header .navBar {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  max-width: 1000px;
}
header .zalando {
  font-size: 26px;
  line-height: 1.5em;
  font-family: 'iconSet';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  speak: none;
  line-height: 1;
  white-space: nowrap;
  float: left;
  color: #ffffff;
  margin: 7px 10px 0;
}
header .zalando:after {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.1em;
  content: 'Zalando. \A We dress Code';
  display: inline-block;
  text-transform: uppercase;
  font-family: arial, sans-serif;
  padding-left: 5px;
  white-space: pre;
}
@media screen and (min-width: 768px) {
  header .zalando {
    padding-left: 10px;
  }
}
@media screen and (max-width: 599px) {
  header {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 600px) {
  header {
    margin-bottom: 40px;
  }
}
header .banner {
  overflow: hidden;
  -ms-transition: height 0.15s ease;
  -moz-transition: height 0.15s ease;
  -webkit-transition: height 0.15s ease;
  transition: height 0.15s ease;
  background-color: #e4e4e4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 599px) {
  header .banner {
    background-image: url('../img/welcome_mobile.jpg');
  }
  header .banner:not(.welcome) {
    height: 25px;
  }
}
@media screen and (max-width: 599px) and (orientation: landscape) {
  header .banner.welcome {
    height: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 599px) and (orientation: portrait) {
  header .banner.welcome {
    height: 50px;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  header .banner {
    background-image: url('../img/welcome_tablet.jpg');
  }
  header .banner:not(.welcome) {
    height: 50px;
  }
  header .banner.welcome {
    height: 100px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  header .banner {
    background-image: url('../img/welcome.jpg');
  }
  header .banner:not(.welcome) {
    height: 75px;
  }
  header .banner.welcome {
    height: 200px;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  header .banner {
    background-image: url('../img/welcome.jpg');
  }
  header .banner:not(.welcome) {
    height: 100px;
  }
  header .banner.welcome {
    height: 300px;
    width: 100%;
  }
}
nav {
  overflow: hidden;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 0;
  max-height: 0;
  min-height: 0;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  nav {
    height: auto;
    width: auto;
    float: right;
    max-height: none;
  }
}
nav ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  nav ul {
    border: 1px solid #dddddd;
    border-width: 1px 0 0 0;
    padding-bottom: 10px;
    background-color: #f7f7f7;
  }
}
@media screen and (min-width: 600px) {
  nav ul {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  nav ul {
    padding-top: 10px;
  }
}
nav li {
  text-align: right;
}
@media screen and (min-width: 600px) {
  nav li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  nav li:nth-of-type(n+2) {
    margin-left: 10px;
  }
  nav li:before {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    background-color: #ffffff;
    opacity: 0;
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -ms-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  nav li:hover:before {
    opacity: 1;
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}
nav a {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5em;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  padding: 10px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  nav a {
    color: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .trigger {
    border: 1px solid #ffffff;
    border-width: 5px 0 0 0;
    height: 27px;
    width: 27px;
    cursor: pointer;
    position: relative;
    float: right;
    margin: 7px 10px 0;
  }
  .trigger:before,
  .trigger:after {
    height: 5px;
    width: 100%;
    content: '';
    display: block;
    background-color: #ffffff;
    margin-top: 5px;
  }
}
header input[type="checkbox"] {
  display: none;
  position: absolute;
  top: -100px;
  left: -100px;
}
@media screen and (max-width: 767px) {
  header input[type="checkbox"]:checked + nav {
    height: 100%;
    max-height: 300px;
    min-height: 50px;
  }
}
@media screen and (max-width: 767px) and screen and (min-width: 600px) {
  header input[type="checkbox"]:checked + nav {
    max-height: 80px;
  }
}
main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 100px;
}
main .postbox a {
  text-decoration: none;
}
main .postbox a:hover {
  text-decoration: underline;
}
main .postbox li {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main h1 a,
main h2 a,
main h3 a {
  color: inherit;
  text-decoration: none;
}
.pages h2 + div {
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .pages h2 {
    text-align: center;
  }
}
.pages h2 a {
  text-decoration: none;
}
@media screen and (max-width: 599px) {
  article {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 600px) {
  article {
    margin-bottom: 60px;
  }
}
article > div {
  border: 1px solid #dddddd;
  border-width: 0 0 1px 0;
  overflow: hidden;
}
@media screen and (max-width: 599px) {
  article > div {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 600px) {
  article > div {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
article h1,
.pages h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2em;
  color: #000000;
}
@media screen and (max-width: 599px) {
  article h1,
  .pages h1 {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 600px) {
  article h1,
  .pages h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 20px;
    text-align: center;
  }
}
article.blogPost h1:after {
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  content: attr(data-posted);
  color: #999999;
}
article p .more,
article li .more {
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  article p,
  article li {
    line-height: 1.65em;
  }
}
@media screen and (min-width: 600px) {
  article small {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  .blogPostTeaser p {
    overflow: hidden;
  }
}
article h2,
article h3,
article h4 {
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}
article h2 {
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  article h2 {
    font-size: 22px;
  }
}
article h3 {
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  article h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 599px) {
  article p {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 600px) {
  article p {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1023px) {
  article p,
  article li {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  article p,
  article li {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.5em;
  }
}
article ul,
article ol {
  clear: both;
  padding: 0 0 10px 35px;
}
article li {
  margin-bottom: 10px;
}
article ul {
  list-style: disc;
}
article ol {
  list-style: decimal;
}
article table {
  border-spacing: 10px;
  border-collapse: collapse;
}
article table td {
  padding-bottom: 10px;
  padding-right: 10px;
}
article dd {
  margin-bottom: 10px;
  line-height: 1.5em;
}
article tt {
  background-color: #f8f8f8;
  padding: 2px 5px 1px;
  white-space: pre;
}
article .signature {
  margin-top: 20px;
  padding: 0;
}
article .teaserImage {
  padding-bottom: 10px;
}
@media screen and (max-width: 479px) and (orientation: portrait) {
  article .teaserImage {
    height: auto;
    width: 100%;
  }
}
@media screen and (orientation: landscape), (min-width: 480px) {
  article .teaserImage {
    height: auto;
    width: 35%;
    margin-right: 20px;
    float: left;
    margin-top: 5px;
    max-width: 150px;
  }
}
@media screen and (min-width: 600px) {
  article .teaserImage p:first-child img {
    height: auto;
    width: 50%;
    margin-right: 20px;
    float: left;
    max-width: 200px;
  }
}
article li img,
article p img {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  article li img,
  article p img {
    margin-right: auto;
    margin-left: auto;
  }
}
.code {
  padding: 10px;
  overflow: auto;
  background: #f8f8f8;
}
@media screen and (max-width: 599px) {
  .code {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 600px) {
  .code {
    margin-bottom: 20px;
  }
}
.code .hll {
  background-color: #ffffcc;
}
.code .c {
  color: #408080;
  font-style: italic;
}
.code .err {
  border: 1px solid #ff0000;
}
.code .k {
  color: #008000;
  font-weight: bold;
}
.code .o {
  color: #666666;
}
.code .cm {
  color: #408080;
  font-style: italic;
}
.code .cp {
  color: #bc7a00;
}
.code .c1 {
  color: #408080;
  font-style: italic;
}
.code .cs {
  color: #408080;
  font-style: italic;
}
.code .gd {
  color: #a00000;
}
.code .gr {
  color: #ff0000;
}
.code .gh {
  color: #000080;
  font-weight: bold;
}
.code .ge {
  font-style: italic;
}
.code .gi {
  color: #00a000;
}
.code .go {
  color: #888888;
}
.code .gp {
  color: #000080;
  font-weight: bold;
}
.code .gs {
  font-weight: bold;
}
.code .gu {
  color: #800080;
  font-weight: bold;
}
.code .gt {
  color: #0044dd;
}
.code .kc {
  color: #008000;
  font-weight: bold;
}
.code .kd {
  color: #008000;
  font-weight: bold;
}
.code .kn {
  color: #008000;
  font-weight: bold;
}
.code .kp {
  color: #008000;
}
.code .kr {
  color: #008000;
  font-weight: bold;
}
.code .kt {
  color: #b00040;
}
.code .m {
  color: #666666;
}
.code .s {
  color: #ba2121;
}
.code .na {
  color: #7d9029;
}
.code .nb {
  color: #008000;
}
.code .nc {
  color: #0000FF;
  font-weight: bold;
}
.code .no {
  color: #880000;
}
.code .nd {
  color: #aa22ff;
}
.code .ni {
  color: #999999;
  font-weight: bold;
}
.code .ne {
  color: #D2413A;
  font-weight: bold;
}
.code .nf {
  color: #0000ff;
}
.code .nl {
  color: #a0a000;
}
.code .nn {
  color: #0000FF;
  font-weight: bold;
}
.code .nt {
  color: #008000;
  font-weight: bold;
}
.code .nv {
  color: #19177c;
}
.code .ow {
  color: #AA22FF;
  font-weight: bold;
}
.code .w {
  color: #bbbbbb;
}
.code .mf {
  color: #666666;
}
.code .mh {
  color: #666666;
}
.code .mi {
  color: #666666;
}
.code .mo {
  color: #666666;
}
.code .sb {
  color: #ba2121;
}
.code .sc {
  color: #ba2121;
}
.code .sd {
  color: #BA2121;
  font-style: italic;
}
.code .s2 {
  color: #ba2121;
}
.code .se {
  color: #BB6622;
  font-weight: bold;
}
.code .sh {
  color: #ba2121;
}
.code .si {
  color: #BB6688;
  font-weight: bold;
}
.code .sx {
  color: #008000;
}
.code .sr {
  color: #bb6688;
}
.code .s1 {
  color: #ba2121;
}
.code .ss {
  color: #19177c;
}
.code .bp {
  color: #008000;
}
.code .vc {
  color: #19177c;
}
.code .vg {
  color: #19177c;
}
.code .vi {
  color: #19177c;
}
.code .il {
  color: #666666;
}
.code table.codetable {
  width: 100%;
}
.code td.linenos {
  text-align: right;
  width: 4em;
}
.pager {
  padding-bottom: 40px;
}
.pager .previous,
.pager .next {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 50%;
}
.pager .previous a,
.pager .next a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
.pager .previous a:before,
.pager .next a:before,
.pager .previous a:after,
.pager .next a:after {
  position: absolute;
  height: 0;
  width: 0;
  content: '';
  display: block;
  -ms-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border-style: solid;
  top: -6px;
}
.pager .previous {
  float: left;
}
.pager .previous a {
  padding-left: 30px;
}
.pager .previous a:before {
  border-color: transparent #666666 transparent transparent;
  border-width: 16px 16px 16px 0;
  left: 2px;
}
.pager .previous a:after {
  border-color: transparent #ffffff transparent transparent;
  border-width: 16px 16px 16px 0;
  left: 3px;
}
@media screen and (min-width: 600px) {
  .pager .previous a:hover:before,
  .pager .previous a:hover:after {
    -ms-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
  .pager .previous a:hover:before {
    border-right-color: #000000;
  }
}
.pager .next {
  float: right;
  text-align: right;
}
.pager .next a {
  padding-right: 30px;
}
.pager .next a:before {
  border-color: transparent transparent transparent #666666;
  border-width: 16px 0 16px 16px;
  right: 2px;
}
.pager .next a:after {
  border-color: transparent transparent transparent #ffffff;
  border-width: 16px 0 16px 16px;
  right: 3px;
}
@media screen and (min-width: 600px) {
  .pager .next a:hover:before,
  .pager .next a:hover:after {
    -ms-transform: translate(5px, 0);
    -moz-transform: translate(5px, 0);
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  .pager .next a:hover:before {
    border-left-color: #000000;
  }
}
@-moz-document url-prefix() {
  .pager .previous a:after {
    left: 2px;
  }
  .pager .next a:after {
    right: 2px;
  }
}
footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background-color: #f7f7f7;
  margin-top: -80px;
  min-height: 80px;
}
@media screen and (min-width: 768px) {
  footer {
    padding-top: 20px;
  }
}
footer .content {
  text-align: center;
}
footer .content li {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
@media screen and (max-width: 767px) {
  footer .content li {
    width: 33%;
  }
}
@media screen and (min-width: 768px) {
  footer .content li {
    position: relative;
  }
  footer .content li:not(:last-of-type):after {
    height: 13px;
    width: 0;
    position: absolute;
    top: 13px;
    right: 0;
    content: '';
    display: block;
    border-right: 1px solid #cccccc;
  }
}
footer .content a {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5em;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  padding: 10px 5px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  footer .content a {
    padding-left: 10px;
    padding-right: 9px;
  }
}
footer .content a:hover {
  text-decoration: underline;
}
