
    // config.less
    //  + This file includes all values.
    //  + It's recommended to set all values here and use variables to
    //    keep changes as simple as possible.

    // BASICS ()--------------------------------------------------------------------------------------------------------
    @defaultFontFamily:                            arial, sans-serif;

    // COLORS ()--------------------------------------------------------------------------------------------------------
    // setting
    @black:                                         #000;
    @white:                                         #fff;
    @zColorOrange:                                  #fb9521;
    @zColorGray:                                    #F7F7F7;
    @menueIconGray:                                 lighten(@black, 30%);
    @iconGray:                                      lighten(@black, 40%);

    @colorLightFont:                                #999;

    @colorFontDefault:                              #333;
    @codeBgr:                                       #f8f8f8;

    @colorHeadline:                                 @black;

    @colorBorder:                                   #DDD;

    // SIZES ()---------------------------------------------------------------------------------------------------------
    @distanceDefault:                              10px;
    @distanceDouble:                               2 * @distanceDefault;

    // Font and Line-height Sizes
    @fontSizeSmallHeader:                          12px;
    @fontSizeSmall:                                13px;
    @fontSizeDefault:                              16px;
    @fontSizeH1:                                   28px;
    @fontSizeH2:                                   20px;
    @fontSizeH3:                                   14px;


    @fontSizeHeaderIcon:                           26px;

    @fontSizeInherit:                              inherit;

    @linkSizeFooter:                               @fontSizeSmall;

    @lineHeightDefault:                            1.5em;

    // Media Sizes
    @screenPhoneLandscape:                         480px;
    @screenTabletPortrait:                         600px;
    @screenTabletLandscape:                        768px;
    @screenDesktop:                                1024px;
    @screenDesktopLarge:                           1440px;


