
    // config.less
    //  + This file includes all values.
    //  + It's recommended to set all values here and use variables to
    //    keep changes as simple as possible.

    // COLORS ()--------------------------------------------------------------------------------------------------------
    // setting
    @black:                                         #000;
    @white:                                         #fff;
    @zOrange:                                       #ff6900;

    @colorHeadline:                                 @black;

    @colorBorder:                                   #DDD;

    // SIZES ()---------------------------------------------------------------------------------------------------------
    @distanceDefault:                              10px;
    @distanceDouble:                               2 * @distanceDefault;

    // Font and Line-height Sizes
    @fontSizeDefault:                              16px;
    @fontSizeH1:                                   22px;
    @fontSizeH2:                                   20px;
    @fontSizeH3:                                   18px;

    @lineHeightDefault:                            1.5em;

    // Media Sizes
    @screenTabletPortrait:                         720px;
    @screenTabletLandscape:                        1024px;


