
    <a href="/authors/{{ slugify(post.meta('author'))|e }}.html" rel="author">
        <img src="/images/authors/{{ slugify(post.meta('author'))|e }}.jpg" />
        {{ post.meta('author')|e }}</a>

    {% if not index_teasers %}

        <br>
        {{ get_author_title(post.meta('author'))|e }}

    {% endif %}
