{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}

{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ helper.twitter_card_information(post) }}

    {% if post.meta('keywords') %}

        <meta name="keywords" content="{{ post.meta('keywords')|e }}" xmlns="http://www.w3.org/1999/html">

    {% endif %}

{% endblock %}


{% block content %}

    <article class="author" itemscope itemtype="http://schema.org/BlogPosting">

        <h1 itemprop="name author">

            {{ title|e }}

            <span>

                {{ post.meta('author_title')|e }}

            </span>

        </h1>

        <!--The Articles content -->
        <div itemprop="articleBody text">

            <img src="/images/authors/{{ post.meta('slug')|e }}.jpg" />

            {{ post.text() }}

        </div>

        {% if post.description() %}

            <meta content="{{ post.description() }}" itemprop="description">

        {% endif %}


        {{ helper.html_pager(post) }}

        {{ helper.mathjax_script(post) }}

    </article>

{% endblock %}
