{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as annotations with context %}
{{ set_locale(lang) }}
<!DOCTYPE html>
<html
{% if comment_system == 'facebook' %}
xmlns:fb="http://ogp.me/ns/fb#"
{% endif %}
lang="{{ lang }}">
<head>
    {{ base.html_head() }}
    {% block extra_head %}
    {% endblock %}
    {{ extra_head_data }}
</head>
<body>




<header role="banner">

    <section>

        <a class="zalando" href="/"></a>

        <label class="trigger" for="menueClose"></label>

        <input type="checkbox" id="menueClose" name="menu">

        <nav>

            <ul>
                <li>
                    <a href="#">techblog</a>
                </li>
                <li>
                    <a href="#">team & tech</a>
                </li>
                <li>
                    <a href="#">events</a>
                </li>
                <li>
                    <a href="#">jobs</a>
                </li>
                <li>
                    <a href="#">open source</a>
                </li>
            </ul>

        </nav>

    </section>

</header>

<main>


    <!--<h1 id="blog-title">
        <a href="{{ abs_link('/') }}" title="{{ blog_title }}" rel="home">{{ blog_title }}</a>
    </h1>-->

    {% block belowtitle %}
        {% if translations|length > 1 %}
        <small>
            {{ messages("Also available in") }}:&nbsp;
            {{ base.html_translations() }}
        </small>
    {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}

</main>

<footer>

    {{ content_footer }}

</footer>

    <!--<small>{{ content_footer }}</small>-->
    <!--Sidebar content-->

<!--
    <ul class="unstyled">
    <li>{{ license }}
    {{ base.html_social() }}
    {{ base.html_navigation_links() }}
    <li>{{ search_form }}
    </ul>

    {{ base.late_load_js() }}
    {{ social_buttons_code }}
-->

</body>
