<footer>

    <div class="content">

        <ul>

            <li>
                <a href="http://www.zalando.de/karriere/about_us/" target="_blank">
                    About Zalando
                </a>
            </li><!--
            --><li>
                <a href="http://www.zalando.com/" target="_blank">
                    Zalando.com
                </a>
            </li><!--
            --><li>
                <a href="/legal-notice" target="_blank">
                    Legal Notice
                </a>
            </li><!--
            --><li>
                <a href="/terms-of-use" target="_blank">
                    Terms of Use
                </a>
            </li><!--
            --><li>
                <a href="privacy-policy" target="_blank">
                    Privacy Policy
                </a>
            </li><!--
            --><li>
                <a href="/contact-us" target="_blank">
                    Contact Us
                </a>
            </li>

        </ul>

    </div>

</footer>
