
{% if index_teasers %}

    {% set class = ' welcome' %}

{% endif %}


<header role="banner">

    <div>

        <a class="zalando" href="/"></a>

        <label class="trigger" for="menueClose"></label>

        <input type="checkbox" id="menueClose" name="menu">

        <nav>

            <ul>
                <li>
                    <a href="/">techblog</a>
                </li>
                <li>
                    <a href="/pages/team.html">team & tech</a>
                </li>
                <li>
                    <a href="/pages/events.html">events</a>
                </li>
                <li>
                    <a href="http://jobs.zalando.de/en/" target="_blank">jobs</a>
                </li>
                <li>
                    <a href="/pages/open-source.html" target="_blank">open source</a>
                </li>
            </ul>

        </nav>

    </div>

        <div class="banner{{ class }}"></div>

</header>