
{% if index_teasers %}

    {% set class = ' welcome' %}

{% endif %}

{% if not index_teasers %}

    {% set link = ' href="/"' %}

{% endif %}

<header role="banner">

    <div class="navBar">

        <a {{ link }} class="zalando">Zalando.<br>We dress Code.</a>

        <label class="trigger" for="menueClose"></label>

        <input type="checkbox" id="menueClose" name="menu">

        <nav>
            <ul>
                <li>
                    <a {{ link }}>Techblog</a>
                </li>
                <li>
                    <a href="/pages/team.html">Team & Tech</a>
                </li>
                <li>
                    <a href="/pages/events.html">Events</a>
                </li>
                <li>
                    <a href="http://jobs.zalando.de/en/jobs/technology" target="_blank">Jobs</a>
                </li>
                <li>
                    <a href="/pages/open-source.html">Open Source</a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="banner{{ class }}"></div>

</header>
