
{% if index_teasers %}

    {% set class = ' welcome' %}

{% endif %}

{% if not permalink == '/index.html' %}

    {% set link = ' href="/"' %}

{% endif %}

<header role="banner">

    <div class="navBar">

        <a {{ link }} class="zalando">Zalando.<br>We dress Code.</a>

        <label class="trigger" for="menueClose"></label>

        <input type="checkbox" id="menueClose" name="menu">

        <nav>

            <ul>

                <li {{ 'class="active"' if '/posts/' in permalink }}>
                    <a {{ link }} >Tech blog</a>
                </li>

                <li {{ 'class="active"' if 'hackweek.html' in permalink }}>
                    <a class="hackWeek" href="/pages/hack-week.html">Hack Week</a>
                </li>

                <li {{ 'class="active"' if 'team.html' in permalink }}>
                    <a href="/pages/team.html">Team & Tech</a>
                </li>

                <li {{ 'class="active"' if 'events.html' in permalink }}>
                    <a href="/pages/events.html">Events</a>
                </li>

                <li>
                    <a href="http://jobs.zalando.de/en/jobs/technology" target="_blank">Jobs</a>
                </li>

                <li {{ 'class="active"' if 'open-source.html' in permalink }}>
                    <a href="/pages/open-source.html">Open Source</a>
                </li>

            </ul>

        </nav>


    </div>

</header>

<div class="banner{{ class }}"></div>
