{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}
{% block content %}

    {% for post in posts %}

        <article class="blogPostTeaser" itemscope itemtype="http://schema.org/BlogPosting">

            <h1 itemprop="name">

                <a href="{{ post.permalink() }}" itemprop="url">{{ post.title() }}</a>

                <span>
                    by
                    <a href="/authors/{{ slugify(post.meta('author'))|e }}.html" rel="author">{{ post.meta('author')|e }}</a>
                    -
                    <time itemprop="datePublished" datetime="{{ post.date.isoformat() }}">
                        {{ post.formatted_date('%B %Y')|e }}
                    </time>

                </span>

            </h1>

            {# Add a <div> just for that Rich Data Item #}
            <div itemprop="description">

                {% if post.meta('image') %}

                    {% include 'teaser_image.tmpl' %}

                {% endif %}

                {{ post.text(teaser_only=True) }}

        </div>

        </article>

    {% endfor %}

    {{ helper.html_pager() }}

	{{ helper.mathjax_script(posts) }}
{% endblock %}
