{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block content %}

        <!--Body content-->
        <div class="postbox">

            <h2>{{ title }}</h2>

            <ul class="unstyled">

            {% for text, link in items %}

                <li><a href="{{ link }}">{{ text }}</a>

            {% endfor %}

            </ul>

        </div>

{% endblock %}