{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}

{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ helper.twitter_card_information(post) }}

    {% if post.meta('keywords') %}

        <meta name="keywords" content="{{ post.meta('keywords')|e }}" xmlns="http://www.w3.org/1999/html">

    {% endif %}

{% endblock %}


{% block content %}

    {% for post in posts %}
        {{ post.title() }}
    {% endfor %}

    <section class="pages">

        {{ helper.html_title() }}

            {% if post.meta('image') %}

                {% include 'teaser_image.tmpl' %}

            {% endif %}

            {{ post.text() }}

            {% if post.description() %}

            <meta content="{{ post.description() }}" itemprop="description">

        {% endif %}

    {{ helper.mathjax_script(post) }}

    </section>

    {{ helper.html_pager(post) }}

{% endblock %}
