

    {% for post in posts %}

        <article class="blogPostTeaser" itemscope itemtype="http://schema.org/BlogPosting">

            <h1 itemprop="name">

                <a href="{{ post.permalink() }}" itemprop="url">{{ post.title() }}</a>

            </h1>

            {# Add a <div> just for that Rich Data Item #}
            <div itemprop="description">

                {% if post.meta('image') %}

                    {% include 'teaser_image.tmpl' %}

                {% endif %}

                {{ post.text(teaser_only=True) }}

            </div>

            <small>

                {{ messages("Posted") }} on

                <time itemprop="datePublished" datetime="{{ post.date.isoformat() }}">
                    {{ post.formatted_date(date_format) }}
                </time>

                {% if post.meta('author') %}

                    from

            <a href="/authors/{{ slugify(post.meta('author'))|e }}.html" rel="author">

                {{ post.meta('author')|e }}

            </a>

                {% endif %}

            </small>

        </article>

    {% endfor %}
