{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}

{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ helper.twitter_card_information(post) }}

    {% if post.meta('keywords') %}

        <meta name="keywords" content="{{ post.meta('keywords')|e }}" xmlns="http://www.w3.org/1999/html">

    {% endif %}

{% endblock %}


{% block content %}

    <article class="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

        {{ helper.html_title() }}

        <!--The Articles content -->
        <div itemprop="articleBody text">

            {% if post.meta('image') %}

                {% include 'teaser_image.tmpl' %}

            {% endif %}

            {{ post.text() }}

            {% if post.meta('author') %}

                <p class="signature">
                    {% include 'author.tmpl' %}
                </p>

            {% endif %}


        </div>

        {% if post.description() %}

            <meta content="{{ post.description() }}" itemprop="description">

        {% endif %}

        <small>

            {{ messages("Posted") }}:

            <time itemprop="datePublished" datetime="{{ post.date.isoformat() }}">

                {{ post.formatted_date(date_format) }}

            </time>

            {{ helper.html_translations(post) }}

            {{ helper.html_tags(post) }}

        </small>

    {% if not post.meta('nocomments') %}

        {{ comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path) }}

    {% endif %}

    {{ helper.mathjax_script(post) }}

    </article>


    <aside class="socialMedia">

        <div class="facebook">
            <div class="fb-like" data-href="<? get_permalink ?>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true" data-font="arial"></div>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=207842902576950";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
        </div>

        <div class="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Zalando TechBlog -" data-lang="en">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

    </aside>

    {{ helper.html_pager(post) }}

{% endblock %}
