

    {% for post in posts %}

        <article>

            <h2>
                <a href="{{ post.permalink() }}">{{ post.title() }}</a>
            </h2>

            {{ post.text(teaser_only=True) }}

        </article>

    {% endfor %}
