
    {% if index_teasers %}

        <a href="{{ post.permalink() }}">
            <img src="images/{{ post.meta('image')|e }}" class="teaserImage" alt="" itemprop="thumbnailUrl">
        </a>

    {% else %}

        <img src="../images/{{ post.meta('image')|e }}" class="teaserImage" alt="" itemprop="thumbnailUrl">

    {% endif %}

