
    // STICKY FOOTER ()-------------------------------------------------------------------------------------------------
    html,
    body {
        height: 100%;
    }

    .content {
        .borderBox;
        .overHidden;
        min-height: 100%;
        padding-bottom: @distanceDefault * 12;
    }