
    // NAVIGATION ()----------------------------------------------------------------------------------------------------
    nav {
        .overHidden;
        .transition(max-height, .3s);
        background-color: @zColorGray;
        width: 100%;
        z-index: 2;
        max-height: 0;

        @media screen and (min-width: @screenTabletLandscape) {

            .dimension(auto);
            .right;
            max-height: none;

        }

        ul {
            .border(top,@colorBorder);
            .borderBox;
            .dimension(auto, 100%);

            .paddingHorizontal;
            .textRight;

            @media screen and (max-width: (@screenTabletLandscape - 1px)) {

                .marginBottom;

            }

            @media screen and (min-width: @screenTabletPortrait) {

                .inlineBlock;

            }

            @media screen and (min-width: @screenTabletPortrait) and (max-width: (@screenTabletLandscape - 1px)) {

                .paddingTop;

            }
        }

        li {
            .textRight;

            @media screen and (min-width: @screenTabletPortrait) {

                .inlineBlock;

            }
        }

        a {
            .font(@fontSizeH3);
            .inlineBlock;
            .padding;
            text-decoration: none;
        }
    }

    @media screen and (max-width: (@screenTabletLandscape - 1px)) {

        .trigger {
            .border(top, @menueIconGray, 5px);
            .dimension(30px);
            .marginTop;
            .marginRight;
            .pointer;
            .relative;
            .right;

            &:before,
            &:after {
                .dimension(5px, 100%);
                .pseudo('');
                background-color: @menueIconGray;
                margin-top: 5px;
            }
        }
    }

    header {

        input[type="checkbox"] {
            .none;
            .position(topLeft, -100px, -100px, absolute);
        }

        input[type="checkbox"]:checked + nav {
            max-height: @distanceDefault * 30;

            @media screen and (min-width: @screenTabletPortrait) {

                max-height: @distanceDefault * 8;

            }

        }
    }

