
    // ARTICLE (on homepage and detail)---------------------------------------------------------------------------------
    article {
        .dPaddingHorizontal;
        max-width: 600px; // Keep container small for better readability!

        @media screen and (max-width: (@screenTabletPortrait - 1px)) {
            margin: 0 auto @distanceDefault * 3;
        }

        @media screen and (min-width: @screenTabletPortrait) {
            margin: 0 auto @distanceDefault * 5;
        }

        & > div {
            .border(bottom);
            .overHidden;

            @media screen and (max-width: (@screenTabletPortrait - 1px)) {

                .marginBottom;
                .paddingBottom;

            }

            @media screen and (min-width: @screenTabletPortrait) {

                .dMarginBottom;
                .dPaddingBottom;

            }

            a {
                color: inherit;
            }
        }

        h1,
        p {
            .marginBottom;
        }

        h1 {
            .font(@fontSizeH1, normal, @lineHeightDefault);
            color: @colorHeadline;

            @media screen and (min-width: @screenTabletPortrait) {

                .font(@fontSizeH1 + 8px);
                .dMarginBottom;
                .textCenter;

            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        p {
            .font(1em, normal, @lineHeightDefault);

            @media screen and (min-width: @screenTabletPortrait) {

                line-height: @lineHeightDefault + .2em;

            }
        }

        .more {
            color: inherit;
        }

        small {

            @media screen and (min-width: @screenTabletPortrait) {

                .block;
                .textCenter;

            }
        }
    }