
    // ARTICLE (on homepage and detail)---------------------------------------------------------------------------------
    article {
        &:extend(.content);

        @media screen and (max-width: (@screenTabletPortrait - 1px)) {
            margin-bottom: @distanceDefault * 3;
        }

        @media screen and (min-width: @screenTabletPortrait) {
            margin-bottom: @distanceDefault * 6;
        }

        & > div {
            .border(bottom);
            .overHidden;

            @media screen and (max-width: (@screenTabletPortrait - 1px)) {

                .marginBottom;
                .paddingBottom;

            }

            @media screen and (min-width: @screenTabletPortrait) {

                .dMarginBottom;
                .dPaddingBottom;

            }

            div + p:last-of-type {
                .marginTop;
                margin-bottom: 0;

            }
        }

        h1,
        p {
            .marginBottom;

            @media screen and (min-width: @screenTabletPortrait) {

                .dMarginBottom;

            }
        }

        h1 {
            .font(@fontSizeH1, normal, @lineHeightDefault - .1em);
            color: @colorHeadline;

            &:after {
                .block;
                .font(@fontSizeSmall, normal, @fontSizeDefault);
                content: attr(data-posted);
            }

            @media screen and (min-width: @screenTabletPortrait) {

                .font(@fontSizeH1 + 8px, normal, @lineHeightDefault - .1em);
                .dMarginBottom;
                .textCenter;

            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        p,
        li {
            .font(1em, normal, @lineHeightDefault);

            // MORE Link may inside the Text - so different Styling
            .more {
                .bold;
                text-decoration: none;
            }

            @media screen and (min-width: @screenTabletPortrait) {

                line-height: @lineHeightDefault + .15em;

            }
        }

        &:not(.post) p {
            @media screen and (min-width: @screenTabletPortrait) {

                .overHidden;

            }
        }

        small {

            @media screen and (min-width: @screenTabletPortrait) {

                .block;
                .textCenter;

            }
        }


        // THE ACTUAL BLOGPOST (Reformat)-------------------------------------------------------------------------------
        h2,
        h3,
        h4 {
            .paddingVertical;
        }

        h2 {
            font-size: 1.2em;
        }

        // LIST ELEMENTS
        ul,
        ol {
            .clear;
            padding: 0 0 @distanceDefault @distanceDouble;
        }

        li {
            .marginBottom;
        }

        ul li {
            list-style: disc;
        }

        ol li {
            list-style: decimal;
        }


    }
